/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 6:58:31 PM
    Author     : RaniSons
*/

// CSS CLASS FOR PANES TO FILL THEIR FULL REGION
.max_pane 
{
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color: white;
}

// CSS CLASS FOR OUR BIG PANES
.bordered_pane 
{
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label 
{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label 
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label 
{
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TEXT FIELDS AT UI PROMPTS
.prompt_text_field 
{
    -fx-font-size: 13pt;
}

// CSS class for the all the buttons on the top (file/edit/view toolbars)
.file_button
{
    -fx-background-color: ghostwhite;
    -fx-font-size: 18px;
    
}

// CSS when the user hovers over the buttons
.file_button:hover
{
    -fx-background-color: lightgreen;
}

// CSS when the user presses a button
.file_button:pressed
{
    -fx-opacity: 0.5px;
}

// CSS class for the components in the component toolbar
.component_toolbar
{
    -fx-padding: 15 0 15 0;
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS class for the elements inside the components of the component toolbar
.component_child_element
{
    -fx-background-color: #d8d8ff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS class for the buttons in the component toolbar
.component_button
{
    -fx-background-color: ghostwhite;
    -fx-font-size: 15px;
}

// CSS when the user hovers over the buttons in the component toolbar
.component_button:hover
{
    -fx-background-color: lightgreen;
}

// CSS when the user presses the buttons in the componennt toolbar
.component_button:pressed
{
    -fx-opacity: 0.5px;
}

// CSS for the vboxes that appear on canvas
.box_elements
{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 5, 5, 5, 5;
}

// CSS class for canvas (workspace basically)
.canvas_class
{
    -fx-background-color: #ebfaff;
}

// CSS class for almost every text label except special ones
.text_label
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
}

// CSS class for the table views in the application
.table-view
{
    -fx-height: 200px;
    -fx-background-color: ghostwhite;
    -fx-text-alignment: center;
}

// CSS class for the columns inside the tables
.table-column
{
    -fx-alignment: center;
    -fx-font-size: 10pt;
}

// CSS class for the label inside the header of the tables
.table-view .column-header-background .label
{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

// CSS class for the column header color in the tables
.table-view .column-header 
{
    -fx-background-color: #aaaaff;
}

// CSS class for the table row cells
.table-row-cell
{
    -fx-background-color: ghostwhite;
}

// CSS class for changing the odd cell background colors int the table
.table-row-cell:odd
{
    -fx-background-color: white; 
}

// CSS class for the selected row in the table
.table-row-cell:selected 
{
    -fx-background-color: #29a0e3;
}

// CSS class for the scroll bars in the application
.scroll-bar
{
    -fx-background-color: white;
}

// CSS class for the scroll bar thumbs in the application
.scroll-bar .thumb
{
    -fx-background-color: #a5d4ff;
}

// CSS class for the buttons of the radio buttons (not their labels) in the application
.radio-button .radio 
{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
    -fx-size: 10px;
}

// CSS class for the dot inside the buttons of the radio buttons
.radio-button .dot 
{
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

// CSS class for the complete radion buttons including the label that come along
.radio-button
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

// CSS class for the boxes of the check boxes in the application
.check-box .box
{
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-padding: 2px;
    -fx-size: 8px;
}

// CSS class for the check boxes themselves
.check-box
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
}

// CSS class for the list views in the application
.list-view
{
    -fx-height: 200px;
    -fx-background-color: ghostwhite;
    -fx-text-alignment: center;
}

// CSS class for the list view cells
.list-cell
{
    -fx-background-color: ghostwhite;
}

// CSS class for the background color of the odd cells in the list view
.list-cell:odd
{
    -fx-background-color: white; 
}

// CSS class for the selected cells in the list view
.list-cell:selected 
{
    -fx-background-color: #29a0e3;
    -fx-text-fill: white;
}

// CSS class for the hover detection over a list view cell
.list-cell:filled:hover 
{
    -fx-background-color: #a5d4ff;
    -fx-text-fill: white;
}

// CSS class for the selected cells in the list view
.list-cell:selected:hover
{
    -fx-background-color: #29a0e3;
    -fx-text-fill: white;
}