/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 6:58:31 PM
    Author     : RaniSons
*/

// CSS CLASS FOR PANES TO FILL THEIR FULL REGION
.max_pane 
{
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-background-color: white;
}

// CSS CLASS FOR OUR BIG PANES
.bordered_pane 
{
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label 
{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label 
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label 
{
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR TEXT FIELDS AT UI PROMPTS
.prompt_text_field 
{
    -fx-font-size: 13pt;
}

// CSS class for the all the buttons on the top (file/edit/view toolbars)
.file_button
{
    -fx-background-color: ghostwhite;
    -fx-font-size: 20px;
    
}

// CSS when the user hovers over the buttons
.file_button:hover
{
    -fx-background-color: lightgreen;
}

// CSS when the user presses a button
.file_button:pressed
{
    -fx-opacity: 0.5px;
}

// CSS class for the components in the component toolbar
.component_toolbar
{
    -fx-padding: 15 0 15 0;
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS class for the elements inside the components of the component toolbar
.component_child_element
{
    -fx-background-color: #d8d8ff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

// CSS class for the buttons in the component toolbar
.component_button
{
    -fx-background-color: ghostwhite;
    -fx-font-size: 15px;
}

// CSS when the user hovers over the buttons in the component toolbar
.component_button:hover
{
    -fx-background-color: lightgreen;
}

// CSS when the user presses the buttons in the componennt toolbar
.component_button:pressed
{
    -fx-opacity: 0.5px;
}

// CSS for the vboxes that appear on canvas
.box_elements
{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-padding: 10, 5, 10, 5;
}

.canvas_class
{
    -fx-background-color: #ebfaff;
}

.text_label
{
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
}